.text-large{
    font-size: 1.25em;
}

.input-styling{
    width: 20px;
    height: 20px;
}
.text-small{
    font-size: 0.75em;
}


#monthlyBudgetReviewItem{
    border: 1px solid rgb(44, 163, 96);
    border-radius: 4px;
    box-shadow: rgb(229, 229, 229) 0px 1px 10px;
}

.heading{
font-size: 18px;
    font-weight: 700;
    color: #2ca360;
}

.final-result{
    background-color: #2ca360;
}

hr{
    border-top: 1px solid rgb(241, 241, 241);
}
.transparent-border{
    border-top: 1px light rgba(255, 255, 255,0);
}

#budgetResultInput{
    color: #2ca360;
}
